# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout code
        uses: actions/checkout@v4

      # Cache Gradle dependencies
      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper/
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
            
      # Set up JDK 17
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          
      # Grant execute permission for gradlew
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        
      # Assemble Debug APK  
      - name: Assemble Debug APK
        run: ./gradlew assembleDebug
        
      # Upload Debug APK as an artifact for download
      - name: Upload Debug APK
        uses: actions/upload-artifact@v4.6.2
        with:
          name: debug-apk
          path: app/build/outputs/apk/dev/debug/app-dev-debug.apk

     # Upload Debug APK to Firebase App Distribution
      - name: Upload Debug APK to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{ secrets.FIREBASE_APP_ID }}  # Firebase App ID (Set this as a secret)
          token: ${{ secrets.FIREBASE_AUTH_TOKEN }}  # Firebase Auth Token (Set this as a secret)
          groups: "testers"  # Optional: You can specify a group of testers
          file: app/build/outputs/apk/dev/debug/app-dev-debug.apk  # Path to your APK   
